<?xml version="1.0" encoding="utf-8"?>
<policy target="ACCEPT">
  <rule>
    <tcp-mss-clamp value="pmtu"/>
  </rule>
  <ingress-zone name="primary"/>
  <ingress-zone name="guest"/>
  <ingress-zone name="IoT"/>
  <ingress-zone name="plex"/>
  <ingress-zone name="management"/>
  <egress-zone name="public"/>
</policy>
