$TTL 1h	; default TTL for zone
$ORIGIN {{ VLAN5DNS_DOMAIN }}. ; base domain-name
; Start of Authority RR defining the key characteristics of the zone (domain)
@     	IN  	SOA   {{ HOST_NAME }}.{{ VLAN5DNS_DOMAIN }}. root.{{ VLAN5DNS_DOMAIN }}. (
                            	2003080800 ; serial number
                            	12h    	; refresh
                            	15m    	; update retry
                            	3w     	; expiry
                            	2h     	; minimum
                            	)
; name server RR for the domain
       	IN  	NS  	{{ HOST_NAME }}.{{ VLAN5DNS_DOMAIN }}.
{{ HOST_NAME }}      	A   	{{ VLAN5DNS_ROUTER }}
test            	A   	{{ VLAN5DNS_ROUTER }}






