<?xml version="1.0" encoding="utf-8"?>
<policy target="ACCEPT">
  <rule>
    <tcp-mss-clamp value="pmtu"/>
  </rule>
  <ingress-zone name="home"/>
  <ingress-zone name="home2"/>
  <egress-zone name="public"/>
</policy>
