<?xml version="1.0" encoding="utf-8"?>
<zone>
  <short>Public</short>
  <description>For use in public areas. You do not trust the other computers on networks to not harm your computer. Onl>
  <masquerade/>
#  <forward-port port="32400" protocol="tcp" to-port="32400" to-addr="10.0.25.22"/>
#  <forward-port port="32400" protocol="udp" to-port="32400" to-addr="10.0.25.22"/>
  <service name="ssh"/>
  <interface name="internet0"/>

</zone>
