<?xml version="1.0" encoding="utf-8"?>
<zone>
  <short>{{ VLAN2NAME }}</short>
  <description>Guest network</description>
  <service name="dhcp"/>
  <interface name="{{ VLAN2NAME }}"/>
  <forward/>
</zone>
