<?xml version="1.0" encoding="utf-8"?>
<zone>
  <short>{{ VLAN5NAME }}</short>
  <description>Management network</description>
  <service name="dhcp"/>
  <service name="ntp"/>
  <interface name="{{ VLAN5NAME }}"/>
  <forward/>
</zone>
