<?xml version="1.0" encoding="utf-8"?>
<zone>
  <short>{{ VLAN3NAME }}</short>
  <description>All IoT network</description>
  <service name="dhcp"/>
  <service name="dns"/>
  <interface name="{{ VLAN3NAME }}"/>
  <forward/>
</zone>
