{
  "Dhcp4": {
        "interfaces-config": {
        "interfaces": [ "{{ BRIDGE_NIC }}", "{{ VLAN2NAME }}", "{{ VLAN3NAME }}", "{{ VLAN4NAME }}", "{{ VLAN5NAME }}" ]
        },
        "control-socket": {
        "socket-type": "unix",
        "socket-name": "/run/kea/kea4-ctrl-socket"
        },
        "lease-database": {
        "type": "memfile",
        "lfc-interval": 3600
        },
        "valid-lifetime": 600,
        "max-valid-lifetime": 7200,
        "subnet4": [


                {
                "subnet": "{{ VLAN1SUBNET }}/24",
                "id": {{ VLAN1 }},
                "pools": [ { "pool": "{{  VLAN1DHCP_RANGE }}" } ], "option-data": [ { "name": "routers", "data": "{{ VLAN1DHCP_IP }}" }, { "name": "domain-name-servers", "data": "{{ VLAN1DNS_INTERNAL }}" }, { "name": "domain-name", "data": "{{ VLAN1DNS_DOMAIN }}" }, { "name": "ntp-servers", "data": "{{ VLAN1DNS_NTP }}" }  ] }
                ,

                {
                "subnet": "{{ VLAN2SUBNET }}/24",
                "id": {{ VLAN2 }},
                "pools": [ { "pool": "{{  VLAN2DHCP_RANGE }}" } ], "option-data": [ { "name": "routers", "data": "{{ VLAN2DHCP_IP }}" }, { "name": "domain-name-servers", "data": "{{ VLAN2DNS_INTERNAL }}" }, { "name": "domain-name", "data": "{{ VLAN2DNS_DOMAIN }}" }, { "name": "ntp-servers", "data": "{{ VLAN2DNS_NTP }}" }  ] }
                ,

                {
                "subnet": "{{ VLAN3SUBNET }}/24",
                "id": {{ VLAN3 }},
                "pools": [ { "pool": "{{  VLAN3DHCP_RANGE }}" } ], "option-data": [ { "name": "routers", "data": "{{ VLAN3DHCP_IP }}" }, { "name": "domain-name-servers", "data": "{{ VLAN3DNS_INTERNAL }}" }, { "name": "domain-name", "data": "{{ VLAN3DNS_DOMAIN }}" }, { "name": "ntp-servers", "data": "{{ VLAN3DNS_NTP }}" }  ] }
                ,

                {
                "subnet": "{{ VLAN4SUBNET }}/24",
                "id": {{ VLAN4 }},
                "pools": [ { "pool": "{{  VLAN4DHCP_RANGE }}" } ], "option-data": [ { "name": "routers", "data": "{{ VLAN4DHCP_IP }}" }, { "name": "domain-name-servers", "data": "{{ VLAN4DNS_INTERNAL }}" }, { "name": "domain-name", "data": "{{ VLAN4DNS_DOMAIN }}" }, { "name": "ntp-servers", "data": "{{ VLAN4DNS_NTP }}" }  ] }
                ,

                {
                "subnet": "{{ VLAN5SUBNET }}/24",
                "id": {{ VLAN5 }},
                "pools": [ { "pool": "{{  VLAN5DHCP_RANGE }}" } ], "option-data": [ { "name": "routers", "data": "{{ VLAN5DHCP_IP }}" }, { "name": "domain-name-servers", "data": "{{ VLAN5DNS_INTERNAL }}" }, { "name": "domain-name", "data": "{{ VLAN5DNS_DOMAIN }}" }, { "name": "ntp-servers", "data": "{{ VLAN5DNS_NTP }}" }  ] }



        ]}
}